<% if notice.present? %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>

<h2><%= @restaurant.name %></h2>
<%= link_to 'Back', restaurants_path %>

<p><%= @restaurant.address %></p>

<div>
  <h5>Restaurant reviews</h5>

  <ul class="list-unstyled">
    <% @restaurant.reviews.each do |review| %>
      <li>
        <p>
          <%= review.content %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
